@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/comfortaa.ttf');
}

body {
    margin: 0;
    background-color: #0c0c0d;
    color: #E7E7E9;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
}

form {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

form input {
    font-size: 100%;
    color: #E7E7E9;
    background-color: #0c0c0d;
    border: 2px solid #0c0c0d;
}

a, a:visited {
    color: #E7E7E9;
}

a:hover {
    color: #BEBEBE;
}

#container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 20%;
    box-sizing: border-box;
    font-size: 1.2em;
}

#container .img {
    margin-bottom: 1em;
    width: 100%;
}

.img img {
    border-radius: 50%;
    width: 20%;
}

.links {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 4em;
    margin-top: 0.5 em;
}

.links a{
    display: inline-block;
    width:25%;
}

#header {
    margin: 1em 0;
}

h1 {
    font-family: 'Comfortaa';
    font-size: 2.5em;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    margin: 0;
}

@media (max-width: 720px) {
    .container .img img {
        margin: 0.5em;
    }
    .img img {
        width: 45%;
    }
    .links {
        font-size: 2em;
    }

}

#ddgSearch{
    width:25vw;
    height:1.25em;
    font-family: 'Comfortaa', sans-serif;
    padding: 10px;
    color: rgb(153, 153, 153);
    text-align: center;
}

#header img{
    vertical-align: middle;
}
